.login-form{
  display: flex;
  justify-content: center;
  
}
.topp{
  font-family: 'Roboto', sans-serif;

 
  width: 50%;
  margin-top: 100px;
}

th, td{
  text-align: center;
  font-size: 1.4rem;

}

/* Add styles to center the table and create a gap between columns */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust as needed */
}

.centered-table {
  border-collapse: collapse;
  text-align: center;
}

.centered-table th,
.centered-table td {
  
  padding: 8px;
}


@media (max-width:992px) {
  .topp{
    width: 80% !important;
  }
  
}
